body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button, .nav-links a {  /* Fixed the selector here */
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
  z-index: 1000;
}

.nav-links {
  display: block;
  padding: 10px 20px;
}

.nav-links a {
  margin-right: 30px;
  color: #ffffff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #bbb7b7;
}

.content {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.central-box {
  width: 40%;
  height: 30%;
  min-width: 260px;
  min-height: 100px;
  background-color: #f3f3f3;
  border: 3px solid black;
  box-shadow: 10px 10px 0px 0px black;
  overflow: hidden;
}

.box-content {
  padding: 4px; /* Reduced padding */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box-content h1 {
  margin: 0;
  font-size: 22px; /* Reduced font size */
}

.box-content p {
  margin: 5px 0; /* Reduced margin */
  font-size: 11px; /* Reduced font size */
  text-align: center;
}

.right {
  flex: 1;
  background-color: #1e1e1e;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-content {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right-content h1 {
  margin: 0;
  font-size: 40px;
}

.about-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  color: black;
}

.about-button:hover {
  background-color: #e9e9e9;
}

.navlink-button {
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  color: black;
}

.navlink-button:hover {
  background-color: #e9e9e9;
}

form {
  display: grid;
}

.text-input, .email-input, .message-input {
  display: flex;
  width: 100%;
  margin-right: 30px;
  margin-left: -10px;
  padding: 8px; 
  margin-bottom: 8px; 
  border: 1px solid #ccc;
  font-family: 'Roboto', sans-serif;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 10px; 
}

.text-input:focus, .email-input:focus, .message-input:focus {
  border: 0.5px solid black;
}

.submit-input {
  padding: 8px 16px; 
  background-color: #ffffff;
  border: 2px solid black; 
  cursor: pointer;
  color: black;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
  font-size: 10px; 
}

.submit-input:hover {
  background-color: #e9e9e9;
}

@media (max-width: 580px) {
  .content {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .box-contemt {
    height: 97%;
  }
  .box-content h1 {
    font-size: 20px;
  }

  .box-content p {
    font-size: 10px;
  }

  .nav-links a {
    margin-right: 30px;
    color: #0e0d0d;
    text-decoration: none;
  }

  .nav-links a:hover {
    color: #504d4d;
  }

  .navlink-button {
    border: 3px solid #0f0f0f;
  }

  .central-box {
    width: 40%;
    height: 57%;
    background-color: #f3f3f3;
    border: 3px solid black;
    box-shadow: 10px 10px 0px 0px black;
    overflow: hidden;
  }
}
